---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: tenants.gems.kubegems.io
spec:
  group: gems.kubegems.io
  names:
    kind: Tenant
    listKind: TenantList
    plural: tenants
    shortNames:
    - ten
    singular: tenant
  scope: Cluster
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Tenant is the Schema for the tenants API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TenantSpec defines the desired state of Tenant
            properties:
              admin:
                description: Admin 租户管理员列表
                items:
                  type: string
                type: array
              members:
                description: Members 租户成员列表
                items:
                  type: string
                type: array
              tenantName:
                description: TenantName 租户名字
                type: string
            required:
            - admin
            type: object
          status:
            description: TenantStatus defines the observed state of Tenant
            properties:
              environments:
                description: Environments 租户在本集群管控的环境
                items:
                  type: string
                type: array
              lastUpdateTime:
                description: LastUpdateTime 最后更新时间
                format: date-time
                type: string
              namespaces:
                description: Namespaces 租户在本集群管控的namespace
                items:
                  type: string
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
