# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - main
      - "release-*"
    # Publish semver tags as releases.
    tags: ["v*.*.*"]
    paths-ignore:
      - '*.md'
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - '*.md'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  IMAGE_NAME: ${{ github.repository }}
  GONOPROXY: kubegems.io

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Set up golang environment
      # https://github.com/actions/setup-go
      - uses: actions/setup-go@v2
        with:
          go-version: "1.18"

      - uses: azure/setup-helm@v3
        if: startsWith(github.ref, 'refs/tags/v')

      - name: Helm Package Push
        if: startsWith(github.ref, 'refs/tags/v')
        run: make helm-package helm-push GIT_VERSION=${GITHUB_REF_NAME}

      # Cache go modules for faster builds
      # https://github.com/actions/cache/blob/main/examples.md#go---modules
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            ~/.cache/helm
            bin/plugins
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum','deploy/plugins') }}
      # Build binary
      - run: make build GIT_VERSION=${GITHUB_REF_NAME}

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v1
        id: buildx

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2.0.0
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      # Login against another registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.SECONDARY_REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2.0.0
        with:
          registry: ${{ secrets.SECONDARY_REGISTRY }}
          username: ${{ secrets.SECONDARY_REGISTRY_USERNAME }}
          password: ${{ secrets.SECONDARY_REGISTRY_PASSWORD }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v3.6.2
        with:
          images: ${{ secrets.REGISTRY }}/${{ env.IMAGE_NAME }},${{ secrets.SECONDARY_REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v2.9.0
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
